<div class="workspace">
    <app-message
        *ngFor="let message of masseges"
        [message] = "{content: message.content, isSelf: (message.sender==sender)}"
    >
    </app-message>

   
    {{last ? scrollToBottom() : ''}} 

    <div class="workspace-send-message">
        <div class="input-field col s12">
            <input [(ngModel)]="textMessage" id="first_name2" type="text" class="validate">
            <label class="active" for="first_name2">message</label>
        </div>
                
        <a class="waves-effect waves-light btn" (click)="onChange()">send</a>
    </div>
</div>


