.workspace {
    /* position: relative; */
    background: darkgray;
    width: 80%;
    height: 800px;
    margin: 25px 25px 25px 25px;

    padding:   25px;

    overflow: auto;
}

.workspace-send-message {
    
}