<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Приложение</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/">Главная</a></li>
          <li><a routerLink="/register">Регистрация</a></li>
          <li><a routerLink="/login">Войти</a></li>
        </ul>
    </div>
  </nav>
  
  <div class="container">
  
    <router-outlet></router-outlet>
  
    <app-time></app-time>
  </div>
