
.sender_message {
  color: rgb(51, 51, 223);
  margin-top: 50px;
  margin-left: 1px;
  position: relative;
}

.sender_self_message {
  margin-left: 64%;
}

.message {
    opacity: 90%;
    position: relative;
    margin-top: 1px;
    width: 36%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;

    animation: showmessage  5s;
}

.self_message {
    margin-left: 64%;
    background-color: lightblue;
    color: white;
}

@keyframes showmessage {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

